<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Simple email inbox page - Bootdey.com</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/font-awesome/css/font-awesome.min.css}">

    <div layout:fragment="assets" th:remove="tag"></div>
</head>
<body>
<div class="container">
    <div class="row">
        <!-- BEGIN INBOX -->
        <div class="col-md-12">
            <div class="grid email">
                <div class="grid-body">
                    <div class="row">
                        <!-- BEGIN  MENU -->
                        <div class="col-md-3">
                            <h2 class="grid-title"><i class="fa fa-inbox"></i> Inbox</h2>
                            <a class="btn btn-block btn-primary" data-target="#compose-modal" data-toggle="modal"><i
                                    class="fa fa-pencil"></i>&nbsp;&nbsp;NEW MESSAGE</a>

                            <hr>

                            <div>
                                <ul class="nav nav-pills nav-stacked">
                                    <li class="header">Folders</li>
                                    <li class="active"><a href="#"><i class="fa fa-inbox"></i> Inbox</a></li>
                                    <li><a href="#"><i class="fa fa-star"></i> Starred</a></li>
                                    <li><a href="#"><i class="fa fa-bookmark"></i> Important</a></li>
                                    <li><a href="#"><i class="fa fa-mail-forward"></i> Sent</a></li>
                                    <li><a href="#"><i class="fa fa-pencil-square-o"></i> Drafts</a></li>
                                    <li><a href="#"><i class="fa fa-folder"></i> Spam</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- END MENU -->

                        <!-- BEGIN CONTENT -->
                        <section class="section-container">
                            <div class="content-wrapper" layout:fragment="content">
                            </div>
                        </section>
                        <!-- END CONTENT -->

                        <!-- BEGIN COMPOSE MESSAGE -->
                        <div aria-hidden="true" class="modal fade" id="compose-modal" role="dialog" tabindex="-1">
                            <div class="modal-wrapper">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header bg-blue">
                                            <button aria-hidden="true" class="close" data-dismiss="modal" type="button">
                                                ×
                                            </button>
                                            <h4 class="modal-title"><i class="fa fa-envelope"></i> Compose New Message
                                            </h4>
                                        </div>
                                        <form action="#" method="post">
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <input class="form-control" name="to" placeholder="To" type="email">
                                                </div>
                                                <div class="form-group">
                                                    <input class="form-control" name="cc" placeholder="Cc" type="email">
                                                </div>
                                                <div class="form-group">
                                                    <input class="form-control" name="bcc" placeholder="Bcc"
                                                           type="email">
                                                </div>
                                                <div class="form-group">
                                                    <input class="form-control" name="subject" placeholder="Subject"
                                                           type="email">
                                                </div>
                                                <div class="form-group">
                                                    <textarea class="form-control" id="email_message" name="message"
                                                              placeholder="Message" style="height: 120px;"></textarea>
                                                </div>
                                                <div class="form-group"><input name="attachment" type="file">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-default" data-dismiss="modal" type="button"><i
                                                        class="fa fa-times"></i> Discard
                                                </button>
                                                <button class="btn btn-primary pull-right" type="submit"><i
                                                        class="fa fa-envelope"></i> Send Message
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END COMPOSE MESSAGE -->
                    </div>
                </div>
            </div>
        </div>
        <!-- END INBOX -->
    </div>
</div>

<script th:src="@{/assets/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{/assets/js/popper.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>

<div layout:fragment="scripts" th:remove="tag"></div>

</body>
</html>