<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <div layout:fragment="assets">
        <link rel="stylesheet" th:href="@{/assets/css/custom.css}">
        <link rel="stylesheet" th:href="@{/assets/vendor/uicons-regular-rounded/css/uicons-regular-rounded.css}">
    </div>
</head>
<body>
<div layout:fragment="content">
    <div class="email-content">
        <div class="email-head">
            <div class="email-head-subject">
                <div class="title d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <a class="active" href="#"><span class="icon"><svg
                                class="feather feather-star text-primary-muted" fill="none"
                                height="24" stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="2"
                                viewBox="0 0 24 24"
                                width="24"
                                xmlns="http://www.w3.org/2000/svg"><polygon
                                points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg></span></a>
                        <span th:text="${emailData.subject}"></span>
                    </div>
                    <div class="icons">
                        <a class="icon" href="javascript:history.back();" title="Back">
                            <i class="fi-rr-arrow-left"></i>
                        </a>
                        <a class="icon" href="#">
                            <i class="fi-rr-share"></i>
                        </a>
                        <a class="icon" href="#">
                            <i class="fi-rr-print"></i>
                        </a>
                        <a class="icon" href="#">
                            <i class="fi-rr-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="email-head-sender d-flex align-items-center justify-content-between flex-wrap">
                <div class="d-flex align-items-center">
                    <div class="avatar">
                        <img alt="Avatar" class="rounded-circle user-avatar-md"
                             src="https://bootdey.com/img/Content/avatar/avatar1.png">
                    </div>
                    <div class="sender d-flex align-items-center">
                        <a href="#"><strong th:text="${emailData.senderName}"></strong>
                            <th:block th:text="${' '+ emailData.sender}"></th:block>
                        </a> <span>to</span><a href="#">me</a>
                        <div class="actions dropdown">
                            <a class="icon" data-toggle="dropdown" href="#">
                                <svg class="feather feather-chevron-down" fill="none" height="24" stroke="currentColor"
                                     stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                                     width="24" xmlns="http://www.w3.org/2000/svg">
                                    <polyline points="6 9 12 15 18 9"></polyline>
                                </svg>
                            </a>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" href="#">Mark as read</a>
                                <a class="dropdown-item" href="#">Mark as unread</a>
                                <a class="dropdown-item" href="#">Spam</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="date" th:text="${emailData.sentDate}"></div>
            </div>
        </div>
        <div class="email-body">
            <th:block th:utext="${emailData.content}"></th:block>
        </div>
        <div class="email-attachments" th:unless="${#lists.isEmpty(listAttachment)}">
            <div class="title">Attachments
                <th:block th:text="'(' + ${#lists.size(listAttachment)} + ' files)'"></th:block>
            </div>
            <ul>
                <li th:each="d : ${listAttachment}">
                    <a th:href="${d.url}">
                        <svg class="feather feather-file" fill="none" height="24" stroke="currentColor"
                             stroke-linecap="round"
                             stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                            <polyline points="13 2 13 9 20 9"></polyline>
                        </svg>
                        <th:block th:text="${d.name}"></th:block>
                        <span class="text-muted tx-11" th:text="'(' + ${d.size} + ')'"></span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div layout:fragment="scripts">
    <script>
        $(document).ready(function () {
            var id = '[[${emailData.id}]]';
            var str = document.querySelector(".email-body").innerHTML;
            var temp = "";
            $.ajax({
                dataType: 'json',
                url: "/api/inline-attachment?id=" + id
            }).then(function (data) {
                jQuery.each(data, function (index, item) {
                    //console.log(item.cid);
                    var cari = "cid:" + item.cid;
                    if (str.match(cari)) {
                        temp = str.replace(cari, item.url);
                        document.querySelector(".email-body").innerHTML = temp;
                        str = temp;
                        // alert(temp);
                    }
                });
            });

        });

    </script>
</div>
</body>
</html>