<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <div layout:fragment="assets">
        <link rel="stylesheet" th:href="@{/assets/css/custom.css}">
    </div>
</head>
<body>
<div layout:fragment="content">
    <div class="email-content">
        <div class="row">
            <div class="col-sm-6">
                <label class="" style="margin-right: 8px;">
                    <div class="icheckbox_square-blue" style="position: relative;"><input
                            class="icheck" id="check-all"
                            style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"
                            type="checkbox">
                        <ins class="iCheck-helper"
                             style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                    </div>
                </label>
                <!--                <div class="btn-group">
                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                            type="button">
                                        Action <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Mark as read</a></li>
                                        <li><a href="#">Mark as unread</a></li>
                                        <li><a href="#">Mark as important</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Report spam</a></li>
                                        <li><a href="#">Delete</a></li>
                                    </ul>
                                </div>-->
            </div>

            <div class="col-md-6 search-form">
                <form action="#" class="text-right">
                    <div class="input-group">
                        <input class="form-control input-sm" style="height: 2em;" placeholder="Search" type="text">
                        <span class="input-group-btn">
                                            <button class="btn_ btn-primary btn-sm search" name="search"
                                                    type="submit"><i class="fa fa-search"></i></button></span>
                    </div>
                </form>
            </div>
        </div>

        <div class="padding"></div>

        <div class="table-responsive">
            <table class="table table-hover">
                <tbody>
                <tr th:each="o : ${data.content}" class="pointer">
                    <td class="action"><input type="checkbox"/></td>
                    <td class="action"><i class="fa fa-star-o"></i></td>
                    <td class="action"><i class="fa fa-bookmark-o"></i></td>
                    <td th:text="${o.senderName}" th:attr="onclick='javascript:getDetail(\''+${o.id}+'\');'"></td>
                    <td th:text="${o.subject}" th:attr="onclick='javascript:getDetail(\''+${o.id}+'\');'"></td>
                    <td th:text="${o.sentDate}" th:attr="onclick='javascript:getDetail(\''+${o.id}+'\');'"></td>
                </tr>
                </tbody>
            </table>
        </div>


        <ul class="pagination" sd:pagination="full" sd:pagination-split="7">
            <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
            <li class="disabled"><a aria-label="Previous" href="#"><span aria-hidden="true">&laquo;</span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
        </ul>

        <!--        <ul class="pagination">
                    <li class="disabled"><a href="#">«</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>-->
    </div>
</div>

</body>
<div layout:fragment="scripts">
    <script>
        function getDetail(id){
            window.location = '/inbox/view?id=' + id;
        }
    </script>
</div>
</html>